html,body{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: #d98282;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 40dvw);
    grid-template-rows: repeat(2,31.8dvh);
    height: 100%;
    gap: 10%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35%;
}



.card{
    width: 40dvw;
    height: 33dvh;
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    perspective:100dvw; 
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid black;
    transition: transform 1.3s;
    border-radius: 30px;
}

.front {
    background-color: #0ff8;
    margin: auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back{
    background-color: #a69;
    transform: rotatey(180deg);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .front{
    transform: rotatey(180deg);
}
.card:hover .back{
    transform: rotatey(360deg);
}


img{
    width: 85%;
    margin: auto;
    margin-top: 15px;
    box-sizing: content-box;
}
p{
    font-size: large;
    width: 80%;
}

h1{
    position: absolute;
    top: 0;
}