html,body{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.container {
    background-color: #aaa;
    display: grid;
    grid-template-columns: repeat(2, 40dvw);
    grid-template-rows: repeat(3,31.8dvh);
    height: 100%;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}



.card{
    background-color: blue;
    width: 100%;
    height: 33dvh;
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    perspective:100dvw; 
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid black;
    transition: transform 1.3s;
    border-radius: 30px;
}

.front {
    background-color: aqua;
    margin: auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back{
    background-color: red;
    transform: rotatey(180deg);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .front{
    transform: rotatey(180deg);
}
.card:hover .back{
    transform: rotatey(360deg);
}


img{
    width: 70%;
    margin: auto;
    margin-top: 10px;
}