.card{
    background: #d98282;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    width: 300px;
    margin: auto;
    border: 10px double aqua;
}

h1{
    padding-top: 10px;
}

h2{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

p{
    font-weight:600;
}