body{
    margin: 0;
    background: linear-gradient(#444d,#000);
    color: #fff;
}
h2{
    text-align: center;
    margin: 20px;
}
form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 20px #fff;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 20px;
    width: 200px;
}
.form_input{
    padding: 6px 20px;
}
input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: #afbfc6 solid 3px;
    border-top: solid #afbfc6 2px; 
    background-color: transparent;
    color: #eee;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 10px;
}

textarea{
    resize: none;
    min-width: 100%;
}

datalist{
width: 10000px;
}

fieldset{
    border: 1px solid #fff5
}