a{
    color: red;
    text-decoration: none;
}

body{
    background-color: antiquewhite;
    text-align: center;
    font-family:sans-serif;
}

input{
    background-color: antiquewhite;
    border: none;
    border-top: 1px #000 solid;
    border-left: 1px #000 solid;
    margin: 10px;
    text-align: center;
    margin-left: 20px;
    padding: 0;
    display:inline-block ;
}

.loco{
    background: linear-gradient(#fd2c56,#4d0d37);
    width: 185px;
    height: 160px;
    padding: 0px;
    margin: auto;

}

p{
    margin: 4px;
}

h1{
    border: solid #aafd;
    text-align: center;
    padding-left: 0%;
}
li::marker{
    color: #6660;
}

h2{
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
}
nav{
background-color: #ddd;
width: 60%;
margin: auto;
}

#myDialog{
    background-color: rgb(140, 207, 186);
    width: 300px;
    top: 0;
    box-shadow: 0 0 10px #000;
}

#closedialog{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border-color: transparent;
    box-sizing: content-box;
    font-size: 20px;
}

#closedialog{
    forced-color-adjust:none;
}

