a{
    color: red;
    text-decoration: none;
}

body{
    background-color: antiquewhite;
    text-align: center;
}

input{
    background-color: antiquewhite;
    border: none;
    border-top: 1px #000 solid;
    border-left: 1px #000 solid;
    margin: 10px;
    text-align: center;
    margin-left: 20px;
    padding: 0;
    display:inline-block ;
}

form{
    background: linear-gradient(#fd2c56,#4d0d37);
    width: 185px;
    height: 160px;
    padding: 0px;
    margin: auto;
}

p{
    margin: 4px;
}

h1{
    border: solid #aafd;
    text-align: center;
    padding-left: 0%;
}
li::marker{
    content: "@";
}