body{
    background-color: #b7c486;
    padding: 0;
    text-align: center;
    font-size: 15px;
    margin: 40px;
    margin-top: 10px;
    border: 3px solid;
    font-weight:lighter;
    width: 400px;
    margin-left: 0;
}

h1{
    background-color: #ff8;
    padding: 0;
    box-sizing:content-box;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 3px solid ;
    width: 40%;
}

h2{
    background-color: #0099003f;
    border: 3px solid;
    width: 70%;
    margin:auto
}

h3{
    background-color: #f0d3ffa2;
    border: 2px solid;
    width: 70%;
    margin:auto
}

h4{
    border: 3px solid;
    width: 70%;
    margin:auto;
    margin-bottom: 10px;
}