body{
    background-color: #b7c486;
    padding: 0;
    text-align: center;
    font-size: 15px;
    border: 3px solid;
    font-weight:lighter;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 55px #000d;
}

h1{
    background-color: #ff8;
    padding: 0;
    box-sizing:content-box;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 3px solid ;
    width: 80%;
}

h2{
    background-color: #0099003f;
    border: 3px solid;
    width:80%;
    margin:auto
}

h3{
    background-color: #f0d3ffa2;
    border: 2px solid;
    width:80%;
    margin:auto
}

h4{
    border: 3px solid;
    width:80%;
    margin:auto;
    margin-bottom: 10px;
}

div{
    margin-top: 50px;
    box-sizing: content-box;
}

table,td,th{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-top: 1px solid;

}

.hover:hover{
    box-shadow: 0 0 20px #f00;
}
.active:active{
    box-shadow: 0 0 20px #ff0;
}

input[type=mail]{
    width: 80%;
    background-color: #afd7;
    
}